<!DOCTYPE html>

<head>
  <style>
    #file_input {
      width: 960px;
      height: 640px;
      border: 2.5px dashed #0062af;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }

    #form_1 {
      padding: 36px;
    }
  </style>
</head>

<body>

  <div id="file_input">
    <form action="/excel_fill/upload" method="post" enctype="multipart/form-data" id="form_1">
      <input type="file" name="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />

      <br />
      <br />

      <input type="submit" value="upload">
    </form>
  </div>

  <script src="js/1.12.4_dist_jquery.min.js"></script>

</body>

</html>