<!DOCTYPE html>

<head>
  <style>
    #download_zone {
      width: 960px;
      height: 640px;
      border: 2.5px dashed #0062af;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }

    #form_1 {
      padding: 36px;
    }
  </style>
</head>

<body>

  <div id="download_zone">
    <form action="/excel_download2/go" method="GET" id="form_1">

      <label for="s_time">Start: </label>
      <input type="text" id="s_time" name="s_time"/>
      &nbsp;&nbsp;&nbsp;
      <label for="e_time">End: </label>
      <input type="text" id="e_time" name="e_time"/>
      <br />
      <br />

      <label>Type:</label>
      <input type="radio" id="both" name="ask_type" value="both" checked>
      <label for="both">Both</label>
      &nbsp;
      <input type="radio" id="object" name="ask_type" value="object">
      <label for="object">Object</label>
      &nbsp;
      <input type="radio" id="event" name="ask_type" value="event">
      <label for="event">Event</label>
      <br />
      <br />

      <label>Face:</label>
      <input type="radio" id="struct" name="fd_mode" value="struct" checked>
      <label for="struct">Struct</label>
      &nbsp;
      <input type="radio" id="match" name="fd_mode" value="match">
      <label for="match">Recognition</label>
      <br />
      <br />

      <label for="similarity">Similarity: </label>
      <input type="number" value="60" step="1" min="1" max="100" id="similarity" name="similarity"/>
      <br />
      <br />

      <input type="submit" value="Download">
    </form>
  </div>

  <script src="/js/1.12.4_dist_jquery.min.js"></script>
  <script>

    $(document).ready(function () {

      $.ajax({
        type: "GET",
        url: "/excel_download2/time_map",
        dataType: 'json',
        success: function (res) {

          $("#s_time").attr("min", res.b_min);
          $("#s_time").attr("max", res.b_max);
          $("#s_time").val(res.b_default);

          $("#e_time").attr("min", res.e_min);
          $("#e_time").attr("max", res.e_max);
          $("#e_time").val(res.e_default);

        },
      });

    });
  </script>
</body>

</html>