<!DOCTYPE html>

<head>
  <style>
    #download_zone {
      width: 960px;
      height: 640px;
      border: 2.5px dashed #0062af;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }

    #form_1 {
      padding: 36px;
    }
  </style>
</head>

<body>

<div id="download_zone">
  <form action="/person_add_group/go" method="GET" id="form_1">

    <label for="similarity">Similarity: </label>
    <input type="text" value="" id="similarity" name="similarity"/>
    <br />
    <br />

    <input type="submit" value="Download">
  </form>
</div>

<script src="/js/1.12.4_dist_jquery.min.js"></script>
<script>

</script>
</body>

</html>